$color-primary: #1890ff;
$color-success: #13ce66;
$color-warning: #ffba00;
$color-danger: #ff4949;
$color-origin: #FF5722;

$shadow-main: 0 5px 7px rgba(0, 0, 0, 0.2);
$window-min-height: calc(100vh - 84px);
